body {
    margin: 0;
    padding: 0;
    background-color: #300;
    width: 700px;
    font-size: 0.9em;
}

#buildings {
    background-image: url("images/buildings/Empty.png");
    margin: 3px auto;
    box-shadow: 0 0 4px 2px white;
}
#buildings-div {
    float: left;
}

.empty-building {
    display: block;
}

.building {
    display: block;
    border: 2px solid #bdb792;
}

.building:hover {
    background-color: #999;
}

.building-level-container {
    position: relative;
    left: -17px;
}

.building-level {
    background-color: #cc3;
    border: thin solid #960;
    color: #fefefe;
    position: absolute;
    bottom: 0px;
    width: 16px;
    text-align: center;
    font-size: 0.75em;
    text-shadow: black 0.5px 0.5px 3px;
    font-weight: bold;
}

#building-information {
    background-color: #666;
    height: 1.1em;
    width: 307px;
    margin: 0 auto;
    box-shadow: 0 0 4px 2px white;
    color: white;
    text-align: center;
    font-size: 0.85em;
    margin-top: 5px;
}

#resources, #queues {
    margin: 2px;
    padding: 2px;
    display: inline-block;
    border: solid 2px #826958;
    border-radius: 5px;
    height: 7.3em;
    width: 48%;
}
#queues {
    float: right;
    color: #cbcbcb;
}
#gold-container {
    color: #fefe00;
}
#food-container {
    color: #98fe98;
}
#wood-container, #stone-container, #iron-container {
    color: #cbcbcb;
}
#morale-container {
    color: #fbfbfb;
}

#units {
    float: right;
    font-size: 0.8em;
    text-align: center;
}
#units > div {
    background-color: #c0a876;
    border: 2px solid #630;
    border-radius: 2px;
    font-size: 0.9em;
}
